
{% load static %}
<html lang="">
<head>
<title>AVODHA SHOPPING</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'hm/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url({% static 'hm/images/demo/backgrounds/yu.jpg' %});">
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear">


    </div>
  </div>
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <h1><a href="/">AVODHA SHOPPING</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <div class="dropdown">
          <li class="active"><a href="/">Home</a></li>

           <li class="active"><a href="{% url 'CartDetails' %}"><i class="fa fa-shopping-cart" style="font-size:15px; color:white;"></i> {{itc}}</a></li>
{% if user.is_authenticated %}
									<li> Hai {{user.username}}</li>
           <li class="active"><a href="{% url 'logout' %}">Logout</a></li>
{% else %}
           <li class="active"><a href="{% url 'login' %}">Login</a></li>
           <li class="active"><a href="{% url 'register' %}">Register</a></li>
{% endif %}
<!--  <div class="dropdown-content">-->
<!--  <a href="/">All</a>-->
<!--     {% for i in ct %}-->
<!--  <a href={{i.get_url}}>{{i.name}}</a>-->
<!--     {% endfor %}-->
<!--  </div>-->
             </div>
            </ul>

            </nav>




    </header>
         </div>
  </div>


{% block content %}
{% endblock %}
</body>
</html>
